In [7]:
# Import Dependencies
import pandas as pd

In [8]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
dataframe2 = pd.DataFrame.from_dict(data)

In [9]:
dataframe2.plot(kind='bar')

In [10]:
dataframe2

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [11]:
dataframe2['col3'] = 'c'

In [12]:
dataframe2

   col_1 col_2 col3
0      3     a    c
1      2     b    c
2      1     c    c
3      0     d    c