In [2]:
# Import Dependencies
import pandas as pd
import

In [7]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
dataframe2 = pd.DataFrame.from_dict(data)

In [8]:
dataframe2.plot(kind='bar')

In [9]:
dataframe2

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [1]:
data2 = {'new_col': [1, 1, 1, 1], 'new_col_2': ['a', 'b', 'c', 'd']}
dataframe3 = pd.DataFrame.from_dict(data)
dataframe3

NameError: name 'pd' is not defined